@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #c6d1eb;
  margin: 0;
  padding: 0;
}
/* #e9e6ef */
.custom_shadow {
  box-shadow: 0px 3px black;
}

.underline_dotted {
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-underline-offset: 5px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
